@{
    ViewBag.Title = "DashBoard";
}


<div class="content-wrapper">
    <div class="content">


        <div class="row">
            <div class="col-md-12">
                <h3 class="page-title">Dashboard </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <div class="widget-overview bg-primary-1">
                    <div class="inner">
                            <h2>@ViewBag.ContarObras</h2>
                        <p>OBRAS</p>
                    </div>

                    <div class="icon">
                        <i class="fa fa-cogs"></i>
                    </div>

                    <div class="details bg-primary-3">
                        <span>View Details <i class="fa fa-arrow-right"></i></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <div class="widget-overview bg-info-1">
                    <div class="inner">
                        <h2>@ViewBag.ContarCliente</h2>
                        <p>CLIENTES</p>
                    </div>

                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>

                    <div class="details bg-info-3">
                        <span>View Details <i class="fa fa-arrow-right"></i></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <div class="widget-overview bg-success-1">
                    <div class="inner">
                        <h2>@ViewBag.ContarFornecedor</h2>
                        <p>FORNECEDRES</p>
                    </div>

                    <div class="icon">
                        <i class="fa fa-industry"></i>
                    </div>

                    <div class="details bg-success-3">
                        <span>View Details <i class="fa fa-arrow-right"></i></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-xs-6">
                <div class="widget-overview bg-danger-1">
                    <div class="inner">
                        <h2>@ViewBag.ContarFuncionario</h2>
                        <p>FUNCIONÁRIOS</p>
                    </div>

                    <div class="icon">
                        <i class="fa fa-user-circle"></i>
                    </div>

                    <div class="details bg-danger-3">
                        <span>View Details <i class="fa fa-arrow-right"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row margin-top-10">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-block">
                        <h5 class="card-title">Compras Efectuadas</h5>
                    </div>
                    <div class="ct-chart-dashboard height-250 ct-chart-blue"></div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-block">
                        <h5 class="card-title">Productos Recentes</h5>

                        <div class="recent-products">
                            <ul>
                                <li>
                                    @*<div class="product-image">
                                        <img src="assets/img/default-img.png" alt="">
                                    </div>

                                    <div class="product-info">
                                        <span class="product-title">
                                            <a href="#">Product Name</a>
                                            <span class="pull-right">
                                                <badge class="badge badge-primary">$1,800</badge>
                                            </span>
                                        </span>
                                        <span class="product-description">Product Description goes here.</span>
                                    </div>*@
                                </li>

                                <li>
                                    @*<div class="product-image">
                                        <img src="assets/img/default-img.png" alt="">
                                    </div>

                                    <div class="product-info">
                                        <span class="product-title">
                                            <a href="#">Product Name</a>
                                            <span class="pull-right">
                                                <badge class="badge badge-primary">$1,800</badge>
                                            </span>
                                        </span>
                                        <span class="product-description">Product Description goes here.</span>
                                    </div>*@
                                </li>

                                <li>
                                    @*<div class="product-image">
                                        <img src="assets/img/default-img.png" alt="">
                                    </div>

                                    <div class="product-info">
                                        <span class="product-title">
                                            <a href="#">Product Name</a>
                                            <span class="pull-right">
                                                <badge class="badge badge-primary">$1,800</badge>
                                            </span>
                                        </span>
                                        <span class="product-description">Product Description goes here.</span>
                                    </div>*@
                                </li>

                                <li>
                                    <div class="product-image">
                                        <img src="assets/img/default-img.png" alt="">
                                    </div>

                                    <div class="product-info">
                                        <span class="product-title">
                                            <a href="#">Serra Electrica</a>
                                            <span class="pull-right">
                                                <badge class="badge badge-primary">1800$00</badge>
                                            </span>
                                        </span>
                                        <span class="product-description">Serra pa usar em limpera de estradas.</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-block">
                        <h5 class="card-title">Membros Recentes</h5>

                        <ul class="recent-members">
                            <li>
                                <img src="assets/img/profile-picture.jpg" alt="">
                                <span class="user-name">Username</span>
                                <span class="joined-date">Today</span>
                            </li>

                            <li>
                                <img src="assets/img/profile-picture.jpg" alt="">
                                <span class="user-name">Username</span>
                                <span class="joined-date">Today</span>
                            </li>

                            <li>
                                <img src="assets/img/profile-picture.jpg" alt="">
                                <span class="user-name">Username</span>
                                <span class="joined-date">Today</span>
                            </li>

                            <li>
                                <img src="assets/img/profile-picture.jpg" alt="">
                                <span class="user-name">Username</span>
                                <span class="joined-date">Today</span>
                            </li>

                            <li>
                                <img src="assets/img/profile-picture.jpg" alt="">
                                <span class="user-name">Username</span>
                                <span class="joined-date">Today</span>
                            </li>

                            <li>
                                <img src="assets/img/profile-picture.jpg" alt="">
                                <span class="user-name">Username</span>
                                <span class="joined-date">Today</span>
                            </li>

                            <li>
                                <img src="assets/img/profile-picture.jpg" alt="">
                                <span class="user-name">Username</span>
                                <span class="joined-date">Today</span>
                            </li>

                            <li>
                                <img src="assets/img/profile-picture.jpg" alt="">
                                <span class="user-name">Username</span>
                                <span class="joined-date">Today</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-block">
                        <h5 class="card-title">Pedidos de Obras</h5>
                        <table class="table table-stripped table-hover">
                            <thead>
                                <tr>
                                    <td>#</td>
                                    <td>Item</td>
                                    <td>Status</td>
                                    <td>Price</td>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td><a href="#">190</a></td>
                                    <td>Item Name</td>
                                    <td>
                                        <badge class="badge badge-warning">Pending</badge>
                                    </td>
                                    <td>
                                        $525
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">190</a></td>
                                    <td>Item Name</td>
                                    <td>
                                        <badge class="badge badge-success">Completed</badge>
                                    </td>
                                    <td>
                                        $525
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">190</a></td>
                                    <td>Item Name</td>
                                    <td>
                                        <badge class="badge badge-primary">Shipped</badge>
                                    </td>
                                    <td>
                                        $525
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">190</a></td>
                                    <td>Item Name</td>
                                    <td>
                                        <badge class="badge badge-danger">Cancelled</badge>
                                    </td>
                                    <td>
                                        $525
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>