/* body {
    padding-top: 50px;
    padding-bottom: 20px;
}

Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
*/
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}
#container-geral{
    margin:20px;
    padding:20px;
}*/

#form-lat{
    margin-left:50px;
}

#btn-center{
    margin-left:490px;
}

#html-action{
    text-decoration:none;
   background: #dcdcdc;
   color: #ffffff;
}
body{
    background-color: #ffffff;
}

#nav-bares{

}

#img-logo{
    width: 55px;
    height: 45px;
}

#logo-span{
    font-size:0.8em;
    font-family:'Century Gothic' #808080;
    font: bolder;
}

#logo-span b{
    /*color:#04fadc;*/
    font-size:2em;
}